.card {
  display: block;
  width: 120px;
  user-select: none;
  border-radius: 5px;
  border: 2px solid var(--border);
  position: relative;
  overflow: hidden;
  cursor: grab;
  transition: box-shadow 100ms;
  background-color: #ebb5b5;
}

.card.display {
  background-color: #eeeeee;
  background-image: none;
}

.card.flash {
  box-shadow: 0 0 5px 5px rgba(255, 238, 0, 0.548);
}

.card.flashSrc {
  box-shadow: 0 0 5px 5px rgba(0, 255, 149, 0.692);
}

.card.selected {
  background-color: #c2d4e2 !important;
  pointer-events: none;
}

.cardInner {
  height: 0;
  padding-top: 150%;
}

.content {
  padding: 0.8em;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
}

.text {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Oleo Script", cursive;
}

.red {
  color: red;
}
